---
layout: layout
---

{% include header.html %}

<div class="container">
	<p class="content">
		INTERACTIVE COLOGNE is a one-week <span class='big red'>festival</span> coming up in June 2013. It is more than just a festival. It is a  <span class="big red">hackathon</span> and <span class="big red">startup confrence</span>. It is for talented <span class="big red">hackers</span> and <span class="big red">designers</span> gather there
	  to kick-off their own or others’ projects, refine or complete code collaboratively
	  or just experiment. It is for <span class="big red">startups</span>, <span class="big red">investors</span> and <span class="big red">entrepreneurs</span> to meet in a creative atmosphere to discuss hot topics and network with other technology industry professionals who share similar passions, and social interests.<br/>
	</p>

	<form novalidate="" method="post" action="http://railslove.us4.list-manage2.com/subscribe/post?u=35591fb9ad996836219f10cbd&amp;id=bcbf2fe4bb">
		<label for="email" class="visuallyhidden">Enter your email address</label>
		<input type="email" placeholder="mail@example.com" id="email" name="EMAIL" value="" required>
		<button type="submit" name="subscribe">Tell me more!</button>
	</form>

	<div id="social-links">
		<h5>Follow us:</h5>
		<a class="ia-icon-facebook" href="https://www.facebook.com/InteractiveCologne">E-Mail</a>
		<a class="ia-icon-twitter" href="https://twitter.com/interactive_cgn">Twitter</a>
	</div>

</div>

{% include supporter.html %}

{% include organizers.html %}

{% include footer.html %}

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
	// init
	$('.accordeon').each(function() {
		$(this).find('h3:not(:first)').addClass('collapsed').next('div').hide();
	});
	// tab click
	$(document).on('click', '.accordeon h3', function (e) {
		$(this).parent().find('h3').not( $(this) ).addClass('collapsed').next('div').slideUp('slow');
		$(this).removeClass('collapsed').next('div').slideDown('slow');
	});
</script>
