---
layout: layout
---

{% include header.html %}

<div class="container">
	<p class="marker">
		INTERACTIVE COLOGNE is a one-week festival coming up in June 2013.<br/>
		Our aim is to bring Cologne’s hacker, startup and creative communities together,<br/>
		promote them on both a national and international level,<br/>
		as well as letting the world know how awesome Cologne is!
	</p>
</div>

<div class="container">
	<form novalidate="" method="post" action="http://railslove.us4.list-manage2.com/subscribe/post?u=35591fb9ad996836219f10cbd&amp;id=bcbf2fe4bb">
		<label for="email" class="visuallyhidden">Enter your email address</label>
		<input type="email" placeholder="mail@example.com" id="email" name="EMAIL" value="" required>
		<button type="submit" name="subscribe">Notify me</button>
	</form>

	<div id="social-links">
		<h5>Follow us:</h5>
		<a class="icon-facebook" href="https://www.facebook.com/InteractiveCologne">E-Mail</a>
		<a class="icon-twitter" href="https://twitter.com/interactive_cgn">Twitter</a>
		<!--<a class="icon-googleplus" href="#">Google+</a>-->
		<!--<a class="icon-rss" href="#">RSS-Feed</a>-->
	</div>
</div>

<div class="accordeon container">
	<h3 id="hack-n-tech"><i></i><span class="visuallyhidden">Hack 'n' Tech</span></h3>
	<div>
		<p>
			Talented web & app developers, hackers and designers gather at INTERACTIVE COLOGNE
			to kick-off their own or others’ projects, refine or complete code collaboratively
			or just experiment - preferably open source.
		</p>

		<p>The following program items are offered:</p>
		<ul>
			<li><a href="hack-n-tech.html#mobile">Mobile Hack Track</a></li>
			<li><a href="hack-n-tech.html#nodecopter">Nodecopter Hack Track</a></li>
			<li><a href="hack-n-tech.html#railsgirls">Rails Girls Cologne</a></li>
			<li><a href="hack-n-tech.html#music">Music Hack Days</a></li>
			<li><a href="hack-n-tech.html#3dprinting">3D Printing Hack</a></li>
			<li><a href="hack-n-tech.html#seriousgames">City Serious Games SpotOn Hack</a></li>
			<li><a href="hack-n-tech.html#opendata">Open Data Hack</a></li>
			<li><a href="hack-n-tech.html#smallhardware">Small Hardware Hack Tracks (Arduino, Anykey)</a></li>
			<li><a href="hack-n-tech.html#talks">Tech talks & Lightning talks</a></li>
		</ul>

		<p>If you have ideas for the hacking event or want to see what other hackers are planning, go check out the <a href="https://github.com/InteractiveCologne/warmup/wiki">Warmup Wiki</a> on GitHub.</p>

		<p><a href="hack-n-tech-startup.html" alt="Read more...">Read more...</a></p>

	</div>
	<h3 id="startup-business"><i></i><span class="visuallyhidden">Startup Business</span></h3>
	<div>
		<p>
			Startups, techies, investors and entrepreneurs will meet in a creative atmosphere to
			discuss hot topics and network with other technology industry professionals who share
			similar passions, and social interests. Therefore we offer different formats:
		</p>
		<p>The following program items are offered:</p>
		<ul>
			<li><a href="startup.html#keynote-and-speakers">Keynote and Speakers</a></li>
			<li><a href="startup.htmlstartup#startup-breakfast">Startup Breakfast</a></li>
			<li><a href="startup.html#Lightning talks">Lightning Talks</a></li>
			<li><a href="startup.html#biz-talks">Biz Talks & Panel Discussions</a></li>
			<li><a href="startup.html#business-model-talks">Business-Model Talks</a></li>
			<li><a href="startup.html#finance-talks">Finance Talks</a></li>
			<li><a href="startup.html#technical-talent-talks">Technical-Talents Talks</a></li>
			<li><a href="startup.html#dates-and-pitches-talks">Dating startup and startup pitches</a></li>
		</ul>

		<p><a href="startup.html" alt="Read more...">Read more...</a></p>

	</div>
	<h3 id="web-de-cologne"><i></i><span class="visuallyhidden">Web de Cologne</span></h3>
	<div>
		<h4>About Web de Cologne</h4>
		<p>
			Web de Cologne e.V. is a Cologne-based initiative of companies of the internet economy.
			Since mid-2009, its members meet regularly on networking events to discuss topics of the digital
			and online industry, intensify existing contacts and forge new ones. Since May 2012, the
			initiative is an association to represent the interests of the internet economy.
			Web de Cologne has the goal to connect and promote the internet economy in the Cologne area.
		</p>
		<p>The topic for this Web de Cologne meetup is <em>“Sustainable Entrepreneurship vs. Exit Driven Growth“</em></p>

		<p><a href="web-de-cologne.html" alt="Read more...">Read more...</a></p>

	</div>
	<h3 id="c-o-pop"><i></i><span class="visuallyhidden">C/O POP & C'N'B</span></h3>
	<div>
		<p>
			In the same week the c/o pop festival is taking place for the tenth time. In over 20 different
			venues about 150 international artists will welcome more than 30,000 visitors. The c/o pop
			concept, which among other things makes use of unusual venues such as the Millowitsch
			Theatre or the Philharmonic Hall, makes this festival an exciting alternative to the many
			other festivals in Germany.
		</p>

		<p><a href="co-pop.html" alt="Read more about c/o pop...">Read more about c/o pop...</a></p>

		<p>
			C'n'B – Creativity & Business Convention is a forum where decision-makers, thinkers and
			generators from the creative industries’ entertainment sectors meet. The two-day event
			invites experienced experts and startups, company founders and dedicated freelancers,
			creative people and business pros, university graduates and students, to discuss future
			formats for production, financing and exploitation, new life and business models, new trends
			and visions. C'n'B offers creative people a home and an action platform - instead of passive
			consumption, our agenda involves active participation, and creative interaction.
		</p>

		<p><a href="c-n-b.html" alt="Read more about C'n'B">Read more about C'n'B...</a></p>

	</div>
</div>

<div class="container">
	<nav>
		<ul style="margin: 0;">
			<li class="tickets" style="width: 100%; text-align: center; font-size: 1.4em;">
				<a href="/tickets.html">One Ticket To Rock This Awesome Week</a>
			</li>
		</ul>
	</nav>
</div>

{% include supporter.html %}

{% include organizers.html %}

{% include footer.html %}

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
	// init
	$('.accordeon').each(function() {
		$(this).find('h3:not(:first)').addClass('collapsed').next('div').hide();
	});
	// tab click
	$(document).on('click', '.accordeon h3', function (e) {
		$(this).parent().find('h3').not( $(this) ).addClass('collapsed').next('div').slideUp('slow');
		$(this).removeClass('collapsed').next('div').slideDown('slow');
	});
</script>
