
<footer role="contentinfo">
	<div class="container">
		<div class="left">
			<a href="/contact.html" class="marker-white">Contact / Terms</a>
		</div>

		<div class="right">
			<div class="sharing-widget">
				<iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1363148939.html#_=1363972283041&amp;button_hashtag=INTERACTIVEcgn2013&amp;count=none&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Finteractive-cologne.com%2F&amp;related=interactive_cgn&amp;size=m&amp;text=COLOGNE%20IS%20AWESOME%20for%20hackers%2C%20startups%20and%20creative%20communities.&amp;type=hashtag&amp;url=http%3A%2F%2Finteractive-cologne.com" class="twitter-hashtag-button twitter-count-none" style="width: 181px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
			</div>

			<div class="sharing-widget" style="height: 80px;">
				<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Finteractivecologne&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=558390627518482" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
			</div>
		</div>
	</div>
</footer>
