
<div class="container">
	<a id="interactive-cologne" href="/">
		<h1 class="visuallyhidden">INTERACTIVE COLOGNE</h1>
		<h2 class="visuallyhidden">Hack Tech Biz Creativity &mdash; 17. bis 23. Juni</h2>
	</a>

	<p>
		<span class="marker">INTERACTIVE COLOGNE is a one-week festival coming up in June 2013.</span><br/>
		<span class="marker">Our aim is to bring Cologne’s hacker, startup and creative communities together,</span><br/>
		<span class="marker">promote them on both a national and international level,</span><br/>
		<span class="marker">as well as letting the world know how awesome Cologne is! KaBAM!</span>
	</p>

	<form novalidate="" method="post" action="http://railslove.us4.list-manage2.com/subscribe/post?u=35591fb9ad996836219f10cbd&amp;id=bcbf2fe4bb">
		<label for="email" class="visuallyhidden">Enter your email address</label>
		<input type="email" placeholder="mail@example.com" id="email" name="EMAIL" value="" required>
		<button type="submit" name="subscribe">Notify me</button>
	</form>

	<div id="social-links">
		<h5>Follow us:</h5>
		<a class="icon-facebook" href="https://www.facebook.com/InteractiveCologne">E-Mail</a>
		<a class="icon-twitter" href="https://twitter.com/interactive_cgn">Twitter</a>
		<!--<a class="icon-googleplus" href="#">Google+</a>-->
		<!--<a class="icon-rss" href="#">RSS-Feed</a>-->
	</div>
</div>
