
<nav class="container">
	<ul>
		<li><a href="hgnc.html"{% if page.url == '/hgnc.html' %} class="active"{% endif %}>HGNC Financeday</a></li>
		<li><a href="webmonday.html"{% if page.url == '/webmonday.html' %} class="active"{% endif %}>Webmonday</a></li>
		<li><a href="hack-n-tech-startup.html"{% if page.url == '/hack-n-tech-startup.html' or page.url == '/hack-n-tech.html' or page.url == '/startup.html' %} class="active"{% endif %}>Hack 'n' Tech, Startup & Startup Breakfast</a></li>
		<li><a href="parties.html"{% if page.url == '/parties.html' %} class="active"{% endif %}>Afterparty & c/o pop opening</a></li>
		<li><a href="cologne-rb.html"{% if page.url == '/cologne-rb.html' %} class="active"{% endif %}>Kölsch.rb</a></li>
		<li><a href="web-de-cologne.html"{% if page.url == '/web-de-cologne.html' %} class="active"{% endif %}>Web de Cologne</a></li>
		<li><a href="devhousefriday.html"{% if page.url == '/devhousefriday.html' %} class="active"{% endif %}>DevHouseFriday Chillout</a></li>
		<li><a href="co-pop.html"{% if page.url == '/co-pop.html' %} class="active"{% endif %}>c/o pop</a></li>
		<li><a href="c-n-b.html"{% if page.url == '/c-n-b.html' %} class="active"{% endif %}>C'n'B</a></li>
		<li class="tickets"><a href="tickets.html"{% if page.url == '/tickets.html' %} class="active"{% endif %}>One Ticket To Rock Them All</a></li>
	</ul>
</nav>
