
<div id="organizers">
	<div id="organizers-inner">
		<div class="container">
			<p><span class="marker">INTERACTIVE COLOGNE is brought to you by</span></p>
			<ul>
				<li><a href="http://www.webdecologne.de/" target="_blank" class="web-de-cologne">WEB DE COLOGNE</a></li>
				<li><a href="http://thierhoff-consulting.de/" class="thierhoff-consulting">Thierhoff Consulting</a></li>
				<li><a href="http://www.c-o-pop.de/" target="_blank" class="c-o-pop">c/o pop</a></li>
				<li><a href="http://www.c-o-pop.de/cnb-convention/" target="_blank" class="cnb">C'N'B</a></li>
				<li><a href="http://railslove.com" target="_blank" class="railslove">Railslove</a></li>
			</ul>
		</div>
	</div>
</div>
