
<div class="container content" style="margin-bottom: 0.3em;">
	<!-- TODO move to common screen.css when this is more stable -->
	<style type="text/css">
		table.scheduleoverview {
			width: 100%;
		}
		table.scheduleoverview th, table.scheduleoverview td {
			width: 12.5%;
			vertical-align: middle;
			text-align: center;
			height: 50px;
		}
		table.scheduleoverview td {
			font-size: 0.8em;
			font-weight: bold;
		}
		table.scheduleoverview a {
			display: block;
		}
	</style>

	<table class="scheduleoverview" style="border-spacing: 5px;">
		<tr>
			<th>Mon. 17th</th>
			<th>Tue. 18th</th>
			<th>Wed. 19th</th>
			<th>Thu. 20th</th>
			<th>Fri. 21th</th>
			<th>Sat. 22th</th>
			<th>Sun. 23th</th>
		</tr>
		<tr>
			<td colspan="1" style="border: 2px solid white; background-color: #242E7C;">
				<a href="/hgnc.html" style="color: white;">
					HGNC Finanzierungstag
				</a>
			</td>
			<td colspan="2" style="border: 2px solid white; background-color: rgb(184,198,116)">
				<a href="/hack-n-tech-startup.html" style="color: white;">
					Hack 'n' Tech &amp; Startup<br/>
				</a>
			</td>
			<td colspan="2" style="border: 2px solid white; background-color: #971620;">
				<a href="/c-n-b.html" style="color: white;">
					C'n'B - Creativity & Business Convention
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
			<td colspan="5" style="border: 2px solid white; background-color: #971620;">
				<a href="/co-pop.html" style="color: white;">
					c/o pop - Music Festival
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="1" style="border: 2px solid white; background-color: #8CACAB;">
				<a href="/webmonday.html" style="color: white;">
					Webmonday
				</a>
			</td>
			<td colspan="1">&nbsp;</td>
			<td colspan="1" style="border: 2px solid white; background-color: #c40000;">
				<a href="/cologne-rb.html" style="color: white;">
					Cologne.rb
				</a>
			</td>
			<td colspan="1" style="border: 2px solid white; background-color: #29abe2;">
				<a href="/web-de-cologne.html" style="color: white;">
					Web de Cologne
				</a>
			</td>
			<td colspan="1" style="border: 2px solid white; background-color: #E50085;">
				<a href="/devhousefriday.html" style="color: white;">
					DevHouseFriday
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="1" style="border: 2px solid white; background-color: #6c8121;">
				<a href="/parties.html" style="color: white;">
					WarmUp Party
				</a>
			</td>
			<td colspan="2" style="border: 2px solid white; background-color: #6c8121;">
				<a href="/parties.html" style="color: white;">
					Get together @ Die Wohngemeinschaft
				</a>
			</td>
		</tr>
	</table>

</div>
