<a name="supporter"></a>

<div class="supporter container">
	<h3 class="marker">Platinum Supporter</h3>
	<p class="platinum row">
		<a href="http://www.microsoft.com/bizspark/default.aspx" target="_blank" class="span6"><img src="/assets/images/sponsors/microsoft-bizpark.jpg" /></a>
		<a href="#" target="_blank"></a>
	</p>
</div>

<div class="supporter container">
	<h4 class="marker">Gold Supporter</h4>
	<p class="gold row">
		<a href="http://grandcentrix.net" target="_blank" class="span4"><img src="/assets/images/sponsors/grandcentrix.jpg" /></a>
		<a href="#" target="_blank" class="span4"></a>
		<a href="#" target="_blank" class="span4"></a>
	</p>
</div>

<div class="supporter container">
	<h5 class="marker">Silver Supporter</h5>
	<p class="silver row">
		<a href="http://www.smart-ip.eu/" target="_blank" class="span3"><img src="/assets/images/sponsors/smartip.jpg" /></a>
		<a href="http://www.youisnow.de/" target="_blank" class="span3"><img src="/assets/images/sponsors/yin.jpg" /></a>
		<a href="#" target="_blank" class="span3"><img src="/assets/images/sponsors/uqbate.jpg" /></a>
		<a href="#" target="_blank" class="span3"></a>
	</p>
</div>

<div class="supporter container">
	<h5 class="marker">Supporter & Media Partner</h5>
	<p class="silver row">
		<a href="http://medien.nrw.de/" target="_blank" class="span2"><img src="/assets/images/sponsors/medienclustern.jpg" /></a>
	</p>
	<p class="row">
		<a href="http://blue-shell.de" target="_blank" class="span2"><img src="/assets/images/sponsors/blueshell.jpg" /></a>
		<a href="http://www.creative.nrw.de/" target="_blank" class="span2"><img src="/assets/images/sponsors/creativenrw.jpg" /></a>
		<a href="http://www.deutsche-startups.de/" target="_blank" class="span2"><img src="/assets/images/sponsors/deutschestartups.jpg" /></a>
		<a href="http://globalways.de" target="_blank" class="span2"><img src="/assets/images/sponsors/globalways.jpg" /></a>
		<a href="http://www.high-tech-gruenderfonds.de/" target="_blank" class="span2"><img src="/assets/images/sponsors/htgf.jpg" /></a>
		<a href="http://loudplaces.com" target="_blank" class="span2"><img src="/assets/images/sponsors/loudplaces.jpg" /></a>
		<a href="http://nerdhub.de" target="_blank" class="span2"><img src="/assets/images/sponsors/nerdhub.jpg" /></a>
		<a href="http://objcgn.com/" target="_blank" class="span2"><img src="/assets/images/sponsors/objcgn.jpg" /></a>
		<a href="http://www.starting-up.de/" target="_blank" class="span2"><img src="/assets/images/sponsors/starting-up.jpg" /></a>
		<a href="http://startplatz.de" target="_blank" class="span2"><img src="/assets/images/sponsors/startplatz.jpg" /></a>
		<a href="http://t3n.de" target="_blank" class="span2"><img src="/assets/images/sponsors/t3n.jpg" /></a>
		<a href="http://www.vc-magazin.de/" target="_blank" class="span2"><img src="/assets/images/sponsors/venture-capital.jpg" /></a>
		<a href="http://www.die-wohngemeinschaft.net/" target="_blank" class="span2"><img src="/assets/images/sponsors/diewohngemeinschaft.jpg" /></a>
		<a href="http://zweitag.de" target="_blank" class="span2"><img src="/assets/images/sponsors/zweitag.jpg" /></a>
		<a href="http://zoomm.me/" target="_blank" class="span2"><img src="/assets/images/sponsors/zoomm.jpg" /></a>
		<a href="#" target="_blank"></a>
		<a href="#" target="_blank"></a>
		<a href="#" target="_blank"></a>
		<a href="#" target="_blank"></a>
		<a href="#" target="_blank"></a>
		<br style="clear:both" />
	</p>
</div>

<div class="container content">
	Any idea how to support Interactive Cologne - don't hesitate to contact us
	<a href="mailto:info@interactive-cologne.com">info@interactive-cologne.com</a>
</div>
