<!DOCTYPE html>
<!--[if lt IE 8 ]> <html class="oldie" lang="de"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="de"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="de"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>INTERACTIVE COLOGNE – Hack, Tech, Biz, Creativity</title>

	<meta name="description" content="">

	<meta name="robots"      content="index, follow">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" href="">
	<link rel="icon" href="">

	<link rel="stylesheet" href="assets/stylesheets/screen.css" media="all">
	<link rel="stylesheet" href="assets/stylesheets/print.css" media="print">

	<script src="assets/javascripts/modernizr.custom.js"></script>
</head>
<body>

	<div id="content">
		{{ content }}
	</div>

	<div id="header"></div>
	<div id="dots"></div>

</body>
</html>
