<!DOCTYPE html>
<!--[if lt IE 8 ]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>INTERACTIVE COLOGNE – Hack, Tech, Biz, Creativity</title>

	<meta name="description" content="">

	<meta name="robots"      content="index, follow">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" href="">
	<link rel="icon" href="">

	<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/assets/stylesheets/screen.css" rel="stylesheet" media="all">
	<link href="/assets/stylesheets/print.css" rel="stylesheet" media="print">

	<script src="/assets/javascripts/modernizr.custom.js"></script>
</head>
<body>
	<div id="content">
		{{ content }}
	</div>

	<div id="header"></div>
	<div id="dots"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCOAZB4SZ4_JMxJiF-_xdOBipaVcWCOOXk&sensor=false"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/javascripts/footable-0.1.js"></script>
	<script src="/assets/javascripts/infobox.js"></script>
	<script src="/assets/javascripts/interactive-cologne.js"></script>
  <script src="http://ib.adnxs.com/seg?add=577630&t=1" type="text/javascript"></script>
  <img src="http://ib.adnxs.com/seg?add=577630&t=2" width="1" height="1" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3621621-21', 'interactive-cologne.com');
    ga('send', 'pageview');

  </script>
</body>
</html>
